@import 'tailwindcss';

::selection {
  background-color: #22d3ee;
  color: #0c4a6e;
}

@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: #0891b2;
    color: #ecfeff;
  }
}

:root {
  --sh-class: #0e7490;
  --sh-identifier: #164e63;
  --sh-sign: #64748b;
  --sh-string: #0d9488;
  --sh-keyword: #0891b2;
  --sh-comment: #94a3b8;
  --sh-jsxliterals: #0284c7;
  --sh-property: #0e7490;
  --sh-entity: #0369a1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #67e8f9;
    --sh-identifier: #ecfeff;
    --sh-keyword: #22d3ee;
    --sh-string: #5eead4;
    --sh-sign: #94a3b8;
    --sh-comment: #64748b;
    --sh-jsxliterals: #7dd3fc;
    --sh-property: #a5f3fc;
    --sh-entity: #bae6fd;
  }
  html {
    color-scheme: dark;
  }
}

html {
  min-width: 360px;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all decoration-cyan-400/70 dark:decoration-cyan-600/80 underline-offset-2 decoration-[0.1em] text-cyan-800 dark:text-cyan-300 hover:text-cyan-600 dark:hover:text-cyan-200;
}

.prose .anchor:after {
  @apply text-cyan-300 dark:text-cyan-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-cyan-950/[0.04] dark:bg-slate-900/90 rounded-lg overflow-x-auto border border-cyan-200/80 dark:border-cyan-900/50 py-2 px-3 text-sm;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose p {
  @apply my-4 text-slate-800 dark:text-cyan-50/90;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-2 text-slate-900 dark:text-cyan-50;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2 text-slate-900 dark:text-cyan-50;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2 text-slate-900 dark:text-cyan-50;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-6 mb-2 text-slate-900 dark:text-cyan-50;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}
